body {
      font-family: 'Karla', sans-serif;
      font-size: 16px;
      margin: 0;
  }
h1,h2,h3 {
      font-family: 'DM Serif Display', serif;
  }
p {
      line-height: 1.7rem;
  }
.container {
      margin: 0 auto;
      width: 80%;
  }
.btn-action {
      color:hsl(256, 26%, 20%);
      font-family: 'Karla', sans-serif;
      font-weight: 700;
      padding: 12px 30px;
      text-transform: uppercase;
  }
/* HEADER STYLES------------------------------------------------ */
header .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }
header {
      background-color: #fff;
      position: relative;
      z-index: 11;
  }
header nav a {
      color: hsl(273, 4%, 51%);
      font-weight: 700;
      padding: 12px 20px;
      text-decoration: none;
      text-transform: uppercase;
  }
header nav a:hover {
      color: hsl(256, 26%, 20%);
  }
header ul li {
      list-style-type: none;
  }
header ul li:hover {
      cursor: pointer;
  }
#menu {
      display: flex;
  }
.menu-highlight {
      border: 1.5px solid hsl(256, 26%, 20%);
      color:hsl(256, 26%, 20%);
  }
.menu-highlight:hover {
      background-color: hsl(256, 26%, 20%);
      color: #ffffff;
  }
#menu-mobile {
      display: none;
  }
#menu-mobile-items {
      background-color: hsl(256, 26%, 20%);
      background-image: url('./images/bg-pattern-mobile-nav.svg');
      background-position-y: 75%;
      background-repeat: no-repeat;
      height: 100vh;
      left: 0;
      margin-top: 0;
      padding: 48px 0;
      position: absolute;
      text-align: center;
      top: 100%;
      width: -webkit-fill-available;

  }
#menu-mobile-items li a {
      color: #FFF;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 5rem;
  }
/* INTRO STYLES------------------------------------------------ */
#intro {
      background-color: hsl(256, 26%, 20%);
      height: 700px;
      position: relative;
  }
.two-col {
      align-items: flex-start;
      display: flex;
      padding-top: 7%;
  }
.col {
      position: relative;
      width: 50%;
  }
.col img {
      width: 100%;
  }
.col-left {
      padding-right: 85px;
  }
h1 {
      color: #ffffff;
      font-size: 70px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 1.5rem;
  }
.border-top-light {
      border-top: 2px solid hsl(0, 0%, 98%);
      position: absolute;
      top: 0;
      width: 150px;
  }
.bg-pattern-intro-left {
      background-image: url('./images/bg-pattern-intro-left-desktop.svg');
      background-repeat: no-repeat;
      height: 100%;
      left: 0;
      position: absolute;
      top: 70%;
      width: 100%;
  }
.bg-pattern-intro-right {
      background-image: url('./images/bg-pattern-intro-right-desktop.svg');
      background-position-x: 100%;
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      top: -64px;
      width: 100%;
      z-index: 10;
  }
#intro p {
      color: #ffffff;
  }
.btn-dark {
      background-color: transparent;
      border: 1.5px solid #ffffff;
      color: #ffffff;
  }
.btn-dark:hover {
      background-color: #ffffff;
      color: hsl(256, 26%, 20%);
      cursor: pointer;
  }
#intro .btn-dark {
      margin-top: 20px;
  }
/* ABOUT STYLES------------------------------------------------ */
#about {
      margin-top: 16%;
  }
#about h2 {
      color:hsl(256, 26%, 20%);
      font-size: 60px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 1.5rem;
      padding-top: 50px;
  }
.about-title {
      position: relative;
  }
.border-top-dark {
      border-top: 2px solid hsl(216, 30%, 68%);
      position: absolute;
      top: 0;
      width: 150px;
  }
.about-items {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
  }
.about-description {
      width: 32%;
  }
.about-description p {
      color: hsl(273, 4%, 51%);
  }
/* BANNER STYLES------------------------------------------------ */
#how-we-work {
      margin: 100px 0;
  }
#banner-how-we-work {
      background-color:hsl(256, 26%, 20%);
      background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: contain;
  }
#how-we-work h2 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 400;
      line-height: 1;
  }
#how-we-work .two-col {
      align-items: center;
      justify-content: space-between;
      padding-top: 0;
      padding: 30px 90px;
  }
/* FOOTER STYLES------------------------------------------------ */
footer {
      background-color: hsl(0, 0%, 98%);
      background-image: url(./images/bg-pattern-footer-desktop.svg);
      background-repeat: no-repeat;
      padding: 90px 0;
      text-transform: uppercase;
  }
#footer-menu {
      display: flex;
      justify-content: space-between;
      width: 85%;
  }
#footer-top-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  }
#footer-social-media {
      align-items: center;
      display: flex;
      justify-content: center;
  }
.social-icon {
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 25px;
      padding: 0 8px;
      width: 25px;
  }
.social-icon:hover {
      cursor: pointer;
      filter: brightness(0.5);
  }
.facebook {
     background-image: url(./images/icon-facebook.svg);
     filter:none;
 }
.instagram {
      background-image: url(./images/icon-instagram.svg);
      filter:none;
  }
.pinterest {
  background-image: url(./images/icon-pinterest.svg);
  filter:none;
}
.twitter{
  background-image: url(./images/icon-twitter.svg);
  filter:none;
}
#footer-top-bar::after {
      background-color: hsl(273, 4%, 51%);
      content: '';
      display: block;
      height: 0.5px;
      margin-bottom: 32px;
      margin-top: 30px;
      width: 100%;
  }
.footer-category h4 {
      color: hsl(273, 4%, 51%);
      margin-bottom: 2rem;
  }
.footer-category a {
      color: #000;
      display: block;
      font-weight: 700;
      line-height: 2rem;
      text-decoration: none;
  }
.footer-category a:hover {
      text-decoration: underline;
  }
.attribution {
       align-items: center;
       background-color:  hsl(0, 0%, 98%);
       color: hsl(256, 26%, 20%);
       display: flex;
       font-size: 1rem;
       height: 48px;
       justify-content: center;
       text-align: center;
   }
.attribution a {
       color: hsl(228, 45%, 44%);
   }
@media (max-width: 1200px) {
    .two-col {
          align-items: center;
      }
    }
@media (max-width: 900px)
{
    #menu {
          display: none;
      }
    #menu-mobile {
          display: block;
      }
    #menu-mobile-items .menu-highlight {
          border: 1.5px solid #fff;
      }
    #menu-mobile-items .btn-action {
          padding: 12px 80px;
      }
    #intro {
          height: auto;
          padding-bottom: 72px;
      }
    #intro h1 {
          font-size: 2.4rem;
          margin-top: 80px;
      }
    #intro p {
          padding: 0 10px;
      }
    .two-col {
          flex-direction: column-reverse;
      }
    #intro .container {
          width: 100%;
      }
    #intro .col {
          text-align: center;
          width: 100%;
      }
    .two-col {
          padding-top: 0;
      }
    .col-left {
          padding-right: 0;
      }
    .border-top-light {
          display: none;
      }
    .bg-pattern-intro-left {
          background-image: url('./images/bg-pattern-intro-left-mobile.svg');
          left: 0;
          top: 42%;
      }
    .bg-pattern-intro-right {
          background-image: url('./images/bg-pattern-intro-right-mobile.svg');
          top: 88%;
      }
    .border-top-dark {
          left: 25%;
          width: 50%;
      }
    #about {
          margin-top: 32%;
      }
    .about-title {
          text-align: center;
      }
    .about-items {
          align-items: center;
          flex-direction: column;
      }
    .about-description {
          margin-bottom: 48px;
          text-align: center;
          width: 90%;
      }
    #how-we-work .two-col {
          flex-direction: column;
          padding: 50px 10px;
          text-align: center;
      }
    #how-we-work h2 {
          font-size: 2rem;
      }
    #how-we-work .col {
          width: 80%;
      }
    #banner-how-we-work {
          background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
      }
    footer {
          background-image: url('./images/bg-pattern-footer-mobile.svg');
      }
    #footer-top-bar {
          align-items: center;
          flex-direction: column;
      }
    #footer-social-media {
          margin-top: 2rem;
      }
    #footer-menu {
          align-items: center;
          flex-direction: column;
          text-align: center;
          width: 100%;
      }
    .attribution {
          font-size: .8rem;
      }
  }