<!-- <h1 class="text-danger">Welcome to Angular{{title}}</h1>
<hr>
<div>
    <app-boxs labelValue="Location" data="Chennai" (onBoxDataChange)="onBoxValueChange()"> </app-boxs>
</div>
<div>
    <app-boxs></app-boxs>
</div> -->
<h1 class="text-danger">Welcomeeeeeeeeee {{title}} </h1>
<hr>
<div>
    <app-boxs labelValue="Location" data="chennai" (onBoxDataChange)="onBoxValueChange"> </app-boxs>
</div>
<div>
    <app-boxs data="chennai"></app-boxs>
</div>
<div>
    <app-customer-form></app-customer-form>
</div>
<div>
     <app-counter></app-counter>
    <app-hit></app-hit> 
    <app-display></app-display>
</div>