* {
        margin: 0;
        padding: 0;
  }
   body {
        background-color:  hsl(185, 41%, 84%);
        font-family: 'Space Mono',monospace;
        height: 100vh;
        width: 100%;
  }
   .logo {
        margin-bottom: 2.3rem;
        margin-top: 1.7rem;
        text-align: center;
  }
   .tip-calculator {
        background-color: white;
        border-radius: 1.4rem 1.4rem 0 0;
        display: flex;
        flex-direction: column;
        padding: 2rem;
  }
   label {
        color:  hsl(186, 14%, 43%);
        font-family: 700 ;
        margin-bottom: 0.3rem;
  }
   input {
        background-color: hsl(189, 41%, 97%);
        background-position: 17px 15px;
        background-repeat: no-repeat;
        border: none;
        color: hsl(183, 100%, 15%);
        font-family: 'Space Mono',monospace;
        font-size: 24px;
        font-weight: bolder;
        outline: none;
        padding-right: 18px;
        padding: 5px;
        text-align: right;
  }
   .bill-input {
        background-image: url(../images/icon-dollar.svg);
        margin-bottom: 36px;
  }
   .tip {
        column-gap: 18px;
        display: grid;
        grid-template-columns: 144px 144px;
        margin-bottom: 2rem;
        margin-top: 0.7rem;
        row-gap: 2em;
  }
   .tips {
        align-items: center;
        background-color: hsl(183, 100%, 15%);
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 24px;
        height: 48px;
        justify-content: center;
  }
   .active-tip {
        background-color: hsl(172, 67%, 45%);
        color: hsl(183, 100%, 15%);
        font-weight: bolder;
  }
   .people-input {
        background-image: url(../images/icon-person.svg);
        margin-bottom: 2.4rem;
  }
   .result {
        background-color:  hsl(183, 100%, 15%);
        border-radius: 12px;
        color: white;
        padding: 39px 21px;
  }
   .tip-amount,
   .total {
         align-items: center;
         display: flex;
         justify-content: space-between;
         margin-bottom: 1.7rem;
   }
   .person {
        color: hsl(184, 14%, 56%);
        font-size: 12px;
        font-weight: 700;
  }
   .amount {
        color: hsl(172, 67%, 45%);
        font-size: 28px;
        font-weight: 700;
  }
   .reset {
        background-color:hsl(172, 67%, 45%);
        border-radius: 5px;
        color: hsl(183, 100%, 15%);
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        padding: 9px 0px 9px 0px;
        text-align: center;
  }
   #tip-custom input {
        box-sizing: border-box;
        width: 100%;
  }
   .peopleLable {
        display: flex;
        justify-content: space-between;
  }
   .error {
        color: red;
        display: none;
  }
   @media only screen and (min-width: 1000px) {
      body {
            align-items: center;
            display: flex;
            flex-direction: column;
      }
      input {
            background-position: 17px 18px;
            padding: 9px;
            width: 415px;
      }
      .tip-calculator {
            border-radius: 1.4rem;
            flex-direction: row;
            height: 479px;
            padding: 2.3rem;
            width: 990px;
      }
      .partOne {
            display: flex;
            flex-direction: column;
            margin-left: 1.2rem;
            margin-top: 1rem;
      }
      .bill-input {
            margin-bottom: 3.4rem;
      }
      .tip {
            column-gap: 17px;
            grid-template-columns: 135px 135px 135px;
            margin-bottom: 3.2rem;
            row-gap: 1.2em;
      }
      .tips {
            height: 55px;
      }
      .result {
            align-content: space-between;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            padding: 48px 38px;
            width: 400px;
      }
      .amount {
            font-size: 55px;
      }
      .reset {
            margin-top: auto;
            padding: 13px 0 13px 0;
      }
  }