:root{
    --darkblue: hsl(240, 38%, 20%);
    --grayishblue: hsl(240, 18%, 77%);
  }
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default padding */
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  
  
  /* Remove list styles on ul, ol elements with a class attribute */
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
    display: block;
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
    margin-top: 1em;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  body {
    min-height: 100vh;
    overflow: hidden;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background:url("images/pattern-curve.svg") ,url("images/pattern-bg.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: 0% 100%,75% 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .testimonels{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  position: relative;
  }
  .quotes{
  padding-top:5rem;
  margin-right: -4rem;
  text-align: left;
  z-index: 1;
  font-weight: 300;
  background:url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 17% 10%;
  }
  .profile_img{
    position: relative;
  }
  .profile_img{
    position: relative;
  }
  .options{
      position: absolute;
      bottom:-1rem;
      left: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:white;
      border-radius: 1rem;
      width: 80px ;
      height: 40px;
  }
  .options img{
    cursor: pointer;
    padding:8px 10px 5px 10px;
  }
  .slide{
      display: none;
      flex-grow: 1;
  }
  
  .name{
    color:var(--darkblue);
  }
  
  .role{
  color: var(--grayishblue);
  font-weight: 300;
  }
  
  
  
  @media  screen and  (max-width: 1000px) {
  
    body {
      background-position: 0% 100%,49% 19%;
      background-size: 70% ,36%;
    }
    .profile_img{
      -webkit-box-shadow: 0px 10px 19px 0px var(--darkblue);
      -moz-box-shadow:    0px 10px 19px 0px var(--darkblue);
      box-shadow:         0px 10px 19px 0px var(--darkblue);
    }
    .slide{
      flex-direction:column-reverse;
      justify-content: center;
      align-items: center;
      flex-grow: 1; 
    }
  
    .person{
      width: 270px;
      height: 270x;
    }
    .quotes{
      padding:5rem 0.75rem;
      text-align: center;
      font-weight: 300;
      font-size: 1.3rem;
      margin-right: 0;
      background-position: 46% 14%;
      background-size: 11%;
      }
      .options{
        position: absolute;
        bottom:-1rem;
        left: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:white;
        border-radius: 1.2rem;
        width: 80px ;
        height: 40px;
    }
  }
  @media screen and (max-width: 800px) {
    body {
      background-position: 0% 100%,49% 17%;
      background-size: 80% ,45%;
     }
     .quotes{
       background-position: 46% 14%;
       background-size: 10%;
     }
   }
  @media screen and (max-width: 600px) {
    body {
      background-position: 0% 100%,48% 14%;
      background-size: 80% ,60%;
     }
     .quotes{
      background-position: 46% 20%;
      background-size: 12%;
     }
   }
  
   @media screen and (max-width: 400px) {
    body {
      background-position: 0% 100%,30% 8%;
      background-size: 80% ,95%;
     }
     .quotes{
       background-position: 46% 14%;
       background-size: 20%;
     }
   }
  
   @media screen and (max-width: 375px) {
    body {
      background-position: 0% 100%,30% 4%;
      background-size: 80% ,95%;
     }
     .quotes{
       background-position: 46% 14%;
       background-size: 20%;
     }
   }